body{
    background-color: yellow;
}

.center {
    text-align: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

html {
    scroll-behavior: smooth;
}



